.decreaseFont, .increaseFont, .blackBg, .yellowBg, .dislexia{
  background: #e0e0e0;
  border: solid black 1px;
  height: 50px;
  width: 50px;
  display:inline-block;
  text-align: center;
  transition: .3s;
  font-size: 18px;
  position: relative;
  top: -3px;
}

button.yellowBg{
  background: yellow;
}

button.blackBg{
  background: black;
  color:white;
}

.invert{
  color:white;
  background:black;
  
  .nav, footer{
    background:white;
    p{
      color: black;
    }
  }

  #logo > a{
    color: black;
  }
  a{
    color: black;
  }

  .container > div > a{
    background:black;
    p{
      color: white;
    }
    i{
      color:white;
    }
  }

  .vacina > a{
    background-color: white;
  }

  .vacina > i{
    color: white;
  }
}

.contrast{
  color:black;
  background:yellow;
  .nav, footer{
    background:black;
    p{
      color: yellow;
    }
  }

  #logo > a{
    color: yellow;
  }

  a{
    color: yellow;
  }

  .container > div > a{
    background:black;
    p{
      color: yellow;
    }
    i{
      color: yellow;
    }
  }

  .vacina > a{
    background-color: black;
  }

  .vacina > i{
    color: black;
  }
}

/* .tagpcontrast{
  color: black;
};

.tagpinvert{
    color:rgb(255, 255, 255);
} */
